<%= form_for(@guidance) do |f| %>
  <% if @guidance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guidance.errors.count, "error") %> prohibited this guidance from being saved:</h2>
      <ul>
      <% @guidance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :guidance_date %><br>
    <span class="date-controls">
      <%= f.date_select :guidance_date,{}, { :class => "form-control input-sm" } %>
    </span>
  </div>
  <div class="form-group">
    <%= f.label :guidance_place %><br>
    <%= f.text_field :guidance_place, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :guidance_kind_id, t('activerecord.attributes.guidance.guidance_kind') %>
    <%= f.collection_select :guidance_kind_id, GuidanceKind.all, :id, :name, { prompt: true }, { class: "form-control" } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
