<% provide :title, 'Guidance' %>

<% breadcrumb :guidances %>

<h1><%= t("guidance_information") %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("guidance_id") %></th>
      <th><%= t("activerecord.attributes.guidance.guidance_date") %></th>
      <th><%= t("activerecord.attributes.guidance.guidance_place") %></th>
      <th><%= t("activerecord.attributes.guidance.guidance_kind") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guidances.each do |guidance| %>
      <tr>
        <td><%= guidance.id %></td>
        <td><%= guidance.guidance_date %></td>
        <td><%= guidance.guidance_place %></td>
        <td><%= guidance.guidance_kind.try(:name) %></td>
        <td><%= link_to 'Show', guidance %></td>
        <td><%= link_to 'Edit', edit_guidance_path(guidance) %></td>
        <td><%= link_to 'Destroy', guidance, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("register_guidance"), new_guidance_path %>
