<p id="notice"><%= notice %></p>

<dl>
  <dt><%= t("guidance_id") %></dt>
    <dd><%= @guidance.id %></dd>
  <dt><%= t("activerecord.attributes.guidance.guidance_date") %></dt>
    <dd><%= @guidance.guidance_date %></dd>
  <dt><%= t("activerecord.attributes.guidance.guidance_place") %></dt>
    <dd><%= @guidance.guidance_place %></dd>
  <dt><%= t("activerecord.attributes.guidance.guidance_kind") %></dt>
   <dd><%= @guidance.guidance_kind.try(:name) %></dd>
</p>
  
  
<%= link_to 'Edit', edit_guidance_path(@guidance) %> |
<%= link_to 'Back', guidances_path %>
