<%= fields_for @search[cnt] do |f| %>
	<div class="form-group">
		<%= f.label :account_cont, class: "col-sm-2 control-label" %>
		<div class="col-sm-10">
			<%= f.text_field :account_cont,{ class: "form-control", name:"q[][account_cont]"} %>
		</div>
	</div>
  <div class="form-group">
    <%= f.label :name_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name_cont, {class: "form-control", name:"q[][name_cont]"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country_eq, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.localized_country_select :country_eq, [], { prompt: true }, { class: "form-control", name:"q[][country_eq]" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address_cont, {class: "form-control", name:"q[][address_cont]"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :phone_cont, {class: "form-control", name:"q[][phone_cont]"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :job_cont, {class: "form-control", name:"q[][job_cont]"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_kind_id_eq, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :job_kind_id_eq, JobKind.all, :id, :name, { prompt: true }, { class: "form-control", name:"q[][job_kind_id_eq]" } %>
    </div>
  </div>

<% end %>

