<%= javascript_include_tag "statistics" %>
﻿<%= javascript_include_tag "ccchart-min" %>
<h1>統計分析</h1>
<% if @queryNumber > 0 %>
<canvas id="circle"></canvas>
<script>
var circle = {

  "config": {
    "title": "統計分析",
    "subTitle": "円チャート",
    "type": "pie",
    "useVal": "yes",
    "pieDataIndex": 0,
    "colNameFont": "100 18px 'Arial'",
    "pieRingWidth": 80,
    "pieHoleRadius": 40,
    "textColor": "#888",
    "bg": "#fff"
  },

  "data": [
    ["データ",""],
    <% @queryNumber.times do |cnt| %>
    ["<%= @nameArr[cnt] %>",<%= @search[cnt].result.size %>],
    <% end %>
  ]
};

ccchart.init('circle', circle);
</script>
<% end %>
<%= form_for @search[@queryNumber], url: statis_path, :html => { class: "form-horizontal", hidden:"true" , class:"formBase"} do |field| %>
	<%=  render "search_form", cnt: @queryNumber %>
<% end %>
<div class="tabbable">
	<%= form_for @search[0], url: statis_path, :html => { class: "form-horizontal" } do |field| %>
	<ul class="nav nav-tabs" id="condTab">
		<li id="addCond"><a href="#p" data-toggle="button">+</a></li>
		<% (@queryNumber==0?1:@queryNumber).times do |cnt| %>
			<li id="tab<%= cnt+1 %>"><a href="#<%= cnt+1 %>" data-toggle="tab"><%= text_field_tag "name[]", @nameArr[cnt], size:"10" %>　<i class="glyphicon-remove glyphicon" id="close<%= cnt+1 %>"></i></a></li>
		<% end %>
	</ul>
		<div class="tab-content" id="condCont">
			<% (@queryNumber==0?1:@queryNumber).times do |cnt| %>
				<div class="tab-pane" id="<%= cnt+1 %>">
					<%=  render "search_form", cnt: cnt %>
				</div>
			<% end %>
		</div>
    <%= hidden_field_tag "num", @queryNumber==0?1:@queryNumber, id: "paramnum" %>
    <%= submit_tag "分析", {class: "btn btn-default"} %>
	<% end %>
</div>

