<h1>統計分析</h1>
<div class="tabbable">
<ul class="nav nav-tabs">
<%= @queryNumber.times do |n| %>
  <li><a href="#<%= n+1 %>" data-toggle="tab">検索 <%= n+1 %></a></li>
<% end %>

</ul>

<form>
<div class="tab-content">
<%= @queryNumber.times do |n| %>
<div class="tab-pane" id="<%= n+1 %>">
<input type="text" name="q[][a]">

<input type="text" name="q[][b]">
</div>

<% end %>
</div>
<input type="submit">
</form>
<p>
検索内容を含む生徒数
<ul>
<%= @search.each do |r| %>
<li><%= r.result.size %>人</li>
<% end %>
</ul>
</p>
<%= @test %>