<%= form_for @user, :html => { class: "form-horizontal" } do |f| %>
  
  <% if @authorize_type == "graduate" %>
    <p>修了日を確認の上、認証するかを選択してください。</p>
    <%= f.fields_for :graduate do |graduate_form| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :"修了日", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <span class="date-controls">
              <%= graduate_form.date_select :finish_date, { start_year: Time.now.year-30, end_year: Time.now.year, include_blank: true }, { class: "form-control" } %>
              <%= content_tag :small, @user.graduate.errors.full_messages_for(:finish_date).join(','), class: "text-danger" %>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :"認証しますか？", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= graduate_form.radio_button :is_entered, 1 %>
            <%= f.label 'はい' %>
            <%= graduate_form.radio_button :is_entered, 0 %>
            <%= f.label 'いいえ' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  
  <% else %>
  
    <div class="form-group">
      <%= f.label :"認証しますか？", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.radio_button :authorized, 1 %>
        <%= f.label 'はい' %>
        <%= f.radio_button :authorized, 0 %>
        <%= f.label 'いいえ' %>
      </div>
    </div>
  
  <% end %>
  
  <div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
