<%= form_for @user, :html => { class: "form-horizontal" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :account, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :account, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= localized_country_select :user, :country, [], { include_blank: 'Please choose...' }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :phone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :job, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_kind_id, t('activerecord.attributes.user.job_kind'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :job_kind_id, JobKind.all, :id, :name, { prompt: "Please choose... " }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :birthday, { start_year: Time.now.year-30, end_year: Time.now.year, include_blank: true }, { class: "" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gender, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.radio_button :gender, 1, { id: 'user_gender_m' } %>
      <%= f.label 'gender_m', '男' %>
      <%= f.radio_button :gender, 2, { id: 'user_gender_f' } %>
      <%= f.label 'gender_f', '女' %>
    </div>
  </div>

  <h3>デバッグ用</h3>
  <div class="form-group">
    <%= f.label :認証は？, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.radio_button :authorized, 1 %>
      <%= f.label 'されてない' %>
      <%= f.radio_button :authorized, 0 %>
      <%= f.label 'されてる' %>
    </div>
  </div>
 
  <div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
