<%= search_form_for @search, :html => { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :user_id_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :user_id_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= localized_country_select :user, :country, [], { include_blank: 'Please choose...' }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :phone_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_cont, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :job_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job_type_eq, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :job_type_eq, JobType.all, :id, :name, { prompt: "Please choose... " }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :birthday_gteq, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>

