<h4>修了生情報</h4>
<dl class="dl-horizontal">
  <dt>変更の有無</dt>
  <dd><%= @user.graduate.is_change%></dd>
  <dt>修了日</dt>
  <dd><%= @user.graduate.finish_date%></dd>
</dl>

<% if @user.graduate.after_graduation.any? %>
  <h4>就職先情報</h4>
  <% @user.graduate.after_graduation.each do |g| %>
    <dl class="dl-horizontal">
      <dt>所属</dt><dd><%= g.belong %></dd>
      <dt>役職</dt><dd><%= g.position %></dd>
      <dt>業種</dt><dd><%= g.job_kind.try(:name) %></dd>
      <dt>その他</dt><dd><%= g.other %></dd>
    </dl>
  <% end %>
<% end %>
