<h3>基本情報</h3>
<dl class="dl-horizontal">
  <dt><%= t 'activerecord.attributes.user.name' %></dt>
  <dd><%= @user.name %></dd>
  <dt><%= t 'activerecord.attributes.user.account' %></dt>
  <dd><%= @user.account %></dd>
  <dt><%= t 'activerecord.attributes.user.country' %></dt>
  <dd><%= t "countries.#{@user.country}" %></dd>
  <dt><%= t 'activerecord.attributes.user.address' %></dt>
  <dd><%= @user.address %></dd>
  <dt><%= t 'activerecord.attributes.user.phone' %></dt>
  <dd><%= @user.phone %></dd>
  <dt><%= t 'activerecord.attributes.user.job' %></dt>
  <dd><%= @user.job %></dd>
  <dt><%= t 'activerecord.attributes.user.job_kind' %></dt>
  <dd><%= @user.job_kind.try(:name) %></dd>
  <dt><%= t 'activerecord.attributes.user.birthday' %></dt>
  <dd><%= l @user.birthday %></dd>
  <dt><%= t 'activerecord.attributes.user.gender' %></dt>
  <dd><%= t "sexes.#{@user.gender}" %></dd>
  <dt><%= t 'activerecord.attributes.user.user_type' %></dt>
  <dd><%= t "user_types.#{@user.user_type}" %></dd>
</dl>
