<h3>＜修了生情報＞</h3>
<dt>変更の有無</dt>
  <dd><%= @user.graduate.is_change%></dd>
<dt>修了日</dt>
  <dd><%= @user.graduate.finish_date%></dd>

<h3>＜卒業後進路情報＞</h3>
<dt>所属</dt>
  <dd><%= @user.after_graduation.belong %></dd>
<dt>役職</dt>
  <dd><%= @user.after_graduation.position %></dd>
<dt>業種</dt>
  <dd><%= @user.after_graduation.work_kind %></dd>
<dt>その他特記事項</dt>
  <dd><%= @user.after_graduation.other %></dd>
<dt>変更日時</dt>
  <dd><%= @user.after_graduation.updated_at %></dd>
