<h4>在学生情報</h4>
<dl class="dl-horizontal">
  <dt>学年</dt>
  <dd><%= @user.student.grade %></dd>
  <dt>学部</dt>
  <dd><%= Department.find(@user.student.department).name %></dd>
  <dt>研究科</dt>
  <dd><%= ResearchSubject.find(@user.student.research_subject).name %></dd>
  <dt>研究室</dt>
  <dd><%= ResearchRoom.find(@user.student.research_room).name %></dd>
  <dt>学籍番号</dt>
  <dd><%= @user.student.student_number %></dd>
  <dt>保証人氏名</dt>
  <dd><%= @user.student.guarantor_name %></dd>
  <dt>保証人住所</dt>
  <dd><%= @user.student.guarantor_address %></dd>
  <dt>保証人連絡先</dt>
  <dd><%= @user.student.guarantor_phone %></dd>
  <dt>入学日</dt>
  <dd><%= @user.student.entry_date %></dd>
</dl>
