<% provide :title, 'List unauthorized users' %>

<% if @list_type == 'graduate' %>
  <% breadcrumb :unauthorized_graduates %>
<% else %>
  <% breadcrumb :unauthorized_users %>
<% end %>

<h1>
  <% if @list_type=='graduate' %>
    <%= t 'activerecord.attributes.unauthorized.graduate' %>
  <% else %>
    <%= t 'activerecord.attributes.unauthorized.participant' %>
  <% end %>
</h1>

<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.user.name' %></th>
      <th><%= t 'activerecord.attributes.user.country' %></th>
      <th><%= t 'activerecord.attributes.user.address' %></th>
      <th><%= t 'activerecord.attributes.user.phone' %></th>
      <th><%= t 'activerecord.attributes.user.job' %></th>
      <th><%= t 'activerecord.attributes.user.job_kind' %></th>
      <th><%= t 'activerecord.attributes.user.birthday' %></th>
      <th><%= t 'activerecord.attributes.user.gender' %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= t "countries.#{user.country}" %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.job %></td>
        <td><%= user.job_kind.try(:name) %></td>
        <td><%= l user.birthday %></td>
        <td><%= t "sexes.#{user.gender}" %></td>
        <% if @list_type == "graduate" %>
          <td><%= link_to t("activerecord.attributes.unauthorized.authorize"), :controller => 'users', :action => 'authorize', :id => user, :authorize_type => "graduate" %></td>
        <% else %>
          <td><%= link_to t("activerecord.attributes.unauthorized.authorize"), :controller => 'users', :action => 'authorize', :id => user, :authorize_type => "participant" %></td>
        <% end %>
        <td><%= link_to t("activerecord.attributes.unauthorized.destroy"), user, method: :delete, data: { confirm: t("activerecord.attributes.unauthorized.are_you_sure") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

