<% provide :title, 'List unauthorized users' %>
<h1>List Unauthorized <%= @list_name %> Users</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Address</th>
      <th>Tel</th>
      <th>Work</th>
      <th>Worktype</th>
      <th>Birth</th>
      <th>Gender</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.country %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.job %></td>
        <td><%= user.job_kind %></td>
        <td><%= user.birthday %></td>
        <td><%= user.gender %></td>
        <% if @list_type == "graduate" %>
          <td><%= link_to 'Authorize', :controller => 'users', :action => 'authorize', :id => user, :authorize_type => "graduate" %></td>
        <% else %>
          <td><%= link_to 'Authorize', :controller => 'users', :action => 'authorize', :id => user, :authorize_type => "participant" %></td>
        <% end %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

