<% provide :title, 'Search' %>

<% breadcrumb :search_users %>

<%= search_form_for @search, url: list_users_path, :html => { class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.label :account, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :account_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.localized_country_select :country_eq, [], { prompt: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :address_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.telephone_field :phone_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :job, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :job_cont, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :業種, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :job_kind_id_eq, JobKind.all, :id, :name, { prompt: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <span class="date-controls">
        <%= f.date_select :birthday_gteq, { start_year: Time.now.year-30, end_year: Time.now.year, include_blank: true }, { class: "form-control input-sm" } %>
      </span>
      から
      <span class="date-controls">
        <%= f.date_select :birthday_lteq, { start_year: Time.now.year-30, end_year: Time.now.year, include_blank: true }, { class: "form-control input-sm" } %>
      </span>
      までの期間
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>
