<% provide :title, 'Show' %>

<% breadcrumb :user, @user %>

<h2>
  <%= @user.name %>
  <small>
    <%= link_to edit_user_path(@user), { class: "pull-right btn btn-default btn-sm" } do %>
      <span class="fa fa-edit"></span>
      編集
    <% end %>
  </small>
</h2>

<hr>

<p id="notice"><%= notice %></p>

<%= render 'show_def' %>
<%unless @user.graduate.nil? %>
  <%= render 'show_grd' %>
<% end %>
<%unless @user.student.nil? %>
  <%= render 'show_std' %>
<% end %>
<%unless @user.participant.nil? %>
  <%= render 'show_prt' %>
<% end %>

<% unless @current_user.user_type == :student %>
  <% if current_page?(user_path(@current_user)) || @current_user.user_type == :admin %>
    <%= link_to 'アカウントの削除', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
