<% provide :title, 'Show' %>
<h2>
  <%= @user.name %>さんの情報
  <small><%= link_to 'Edit', edit_user_path(@user), { class: "" } %></small>
</h2>

<p id="notice"><%= notice %></p>

<%= render 'show_def' %>
<%unless @user.graduate.nil? %>
  <%= render 'show_grd' %>
<% end %>
<%unless @user.student.nil? %>
  <%= render 'show_std' %>
<% end %>
<%unless @user.participant.nil? %>
  <%= render 'show_prt' %>
<% end %>


