<% provide :title, 'Show' %>

<% breadcrumb :user, @user %>

<h2>
  <%= @user.name %>
  <small>
    <%= link_to edit_user_path(@user), { class: "pull-right btn btn-default btn-sm" } do %>
      <span class="fa fa-edit"></span>
      編集
    <% end %>
  </small>
</h2>

<hr>

<p id="notice"><%= notice %></p>

<%= render 'show_def' %>
<%unless @user.graduate.nil? %>
  <%= render 'show_grd' %>
<% end %>
<%unless @user.student.nil? %>
  <%= render 'show_std' %>
<% end %>
<%unless @user.participant.nil? %>
  <%= render 'show_prt' %>
<% end %>
