<% provide :title, 'Show' %>
<h2>
  <%= @user.name %>
  <small>
    <%= link_to edit_user_path(@user), { class: "pull-right btn btn-default btn-sm" } do %>
      <span class="fa fa-edit"></span>
      編集
    <% end %>
  </small>
</h2>

<hr>

<p id="notice"><%= notice %></p>

<%= render 'show_def' %>
<%unless @user.graduate.nil? %>
  <%= render 'show_grd' %>
<% end %>
<%unless @user.student.nil? %>
  <%= render 'show_std' %>
<% end %>
<%unless @user.participant.nil? %>
  <%= render 'show_prt' %>
  <p>
  <b>過去の参加履歴</b>
  <% @members.each do |guidance| %>
   <p><td><%= guidance.id  %></td>
      <td><%= guidance.guidance_date %></td>
      <td><%= guidance.guidance_place %></td>
      <td><%= guidance.guidance_kind.try(:name) %></td>
  </p>
  <% end %>
</p>
<% end %>
