<h1><%= @user.name %>さんの情報</h1>

<dl class="dl-horizontal">
  <% @info.each do |elem| %>
		<dt><%= elem[0]%></dt>
			<dd><%= elem[1]%></dd>
	<% end %>
</dl>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>