<%= form_for @event, :html => { class: "form-horizontal" } do |f| %>

  <div class="form-group">
    <%= f.label :event_name, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
      <%= content_tag :small, @event.errors.full_messages_for(:name).join(' '), class: "text-danger" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_date, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <span class="date-controls">
        <%= f.date_select :date, { start_year: Time.now.year-30, end_year: Time.now.year, include_blank: true }, { class: "form-control" } %>
        <%= content_tag :small, @event.errors.full_messages_for(:date).join(' '), class: "text-danger" %>
      </span>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_place, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_field :place, class: "form-control" %>
      <%= content_tag :small, @event.errors.full_messages_for(:place).join(' '), class: "text-danger" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_detail, class: "col-sm-2 control-label"%>
    <div class="col-sm-10">
      <%= f.text_area :detail, class: "form-control" %>
      <%= content_tag :small, @event.errors.full_messages_for(:detail).join(' '), class: "text-danger" %>
    </div>
  </div>
  <div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
