<% provide :title, 'Event' %>
<h1><%= t("event_information") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.event.event_name") %></th>
      <th><%= t("activerecord.attributes.event.event_date") %></th>
      <th><%= t("activerecord.attributes.event.event_place") %></th>
      <th><%= t("activerecord.attributes.event.event_detail") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.place %></td>
        <td><%= event.detail %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("register_event"), new_event_path %>
