<% provide :title, 'After Graduation' %>

<h1><%= t("activerecord.models.after_graduations") %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.after_graduation.belong") %></th>
      <th><%= t("activerecord.attributes.after_graduation.position") %></th>
      <th><%= t("activerecord.attributes.after_graduation.job_kind") %></th>
      <th><%= t("activerecord.attributes.after_graduation.other") %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @after_graduations.each do |after_graduation| %>
      <tr>
        <td><%= after_graduation.belong %></td>
        <td><%= after_graduation.position %></td>
        <td>
<% begin %>
        <% JobKind.find(after_graduation.job_kind) %>
<% rescue %>
        invalid value
<% end %>
        </td>
        <td><%= after_graduation.other %></td>
        <td><%= link_to 'Show', after_graduation %></td>
        <td><%= link_to 'Edit', edit_after_graduation_path(after_graduation) %></td>
        <td><%= link_to 'Destroy', after_graduation, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("register_after_graduation"), new_after_graduation_path %>
