<% provide :title, 'After Graduation' %>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><%= t("activerecord.attributes.after_graduation.belong") %></dt>
    <dd><%= @after_graduation.belong %></dd>

  <dt><%= t("activerecord.attributes.after_graduation.position") %></dt>
    <dd><%= @after_graduation.position %></dd>

  <dt><%= t("activerecord.attributes.after_graduation.job_kind") %></dt>
    <dd><%= JobKind.find((@after_graduation.job_kind or 1)).name %></dd>

  <dt><%= t("activerecord.attributes.after_graduation.other") %></dt>
    <dd><pre><%= @after_graduation.other %></pre></dd>
</dl>

<%= link_to 'Edit', edit_after_graduation_path(@after_graduation) %> |
<%= link_to 'Back', after_graduations_path %>
