<p id="notice"><%= notice %></p>

<p>
  <strong>Belong:</strong>
  <%= @after_graduation.belong %>
</p>

<p>
  <strong>Position:</strong>
  <%= @after_graduation.position %>
</p>

<p>
  <strong>Job kind:</strong>
  <%= @after_graduation.job_kind %>
</p>

<p>
  <strong>Other:</strong>
  <%= @after_graduation.other %>
</p>

<%= link_to 'Edit', edit_after_graduation_path(@after_graduation) %> |
<%= link_to 'Back', after_graduations_path %>
