<% provide :title, 'Certificate Show' %>

<h2>
  <%= t 'activerecord.attributes.certificate.created_at' %> : <%= @certificate.created_at.strftime("%Y-%m-%d %H:%M") %> : <%= t("register_certificate") %>
</h2>

<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><%= t 'activerecord.attributes.certificate.certificate_kind' %></dt>
  <dd><%= @certificate.certificate_kind.try(:name) %></dd>
  <dt><%= t 'activerecord.attributes.certificate.finish_year' %></dt>
  <dd><%= @certificate.finish_year %></dd>
  <dt><%= t 'activerecord.attributes.certificate.count' %></dt>
  <dd><%= @certificate.count %></dd>
  <dt><%= t 'activerecord.attributes.certificate.purpose' %></dt>
  <dd><%= @certificate.purpose %></dd>
  <dt><%= t 'activerecord.attributes.certificate.another_address' %></dt>
  <dd><%= @certificate.another_address %></dd>
</dl>

<%= link_to 'Back', certificates_path %>
