<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @guidances_user.user_id %>
</p>

<p>
  <strong>説明会ID:</strong>
  <%= @guidances_user.guidance_id %>
</p>

<%= link_to 'Edit', edit_guidances_user_path(@guidances_user) %> |
<%= link_to 'Back', guidances_users_path %>
