<!DOCTYPE html>
<html lang="ja">
<head>
  <title><%= yield :title %> | HandShake</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/topbar' %>
<div class="container">
  <div class="row">
    <% if session[:user_id] %>
      <div class="col-md-3">
        <%= render "sidebars/#{@current_user.user_type}" %>
      </div>
    <% end %>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
