<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Dp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/topbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if session[:user_id] %>
        <% if @current_user.user_type == :participant %>
          <%= render 'shared/parsidebar' %>
        <% elsif @current_user.user_type == :student %>
          <%= render 'shared/stusidebar' %>
        <% elsif @current_user.user_type == :graduate %>
          <%= render 'shared/grasidebar' %>
        <% else %>
          <%= render 'shared/sidebar' %>
        <% end %>
      <% else %>
        <%= render 'shared/newsidebar' %>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
